<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphamax Software International</title>
    <style>
        div{
            width: 100%;
            height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Alphamax Software International</h1>
        <p>Comming Soon!</p>
        <p><a href="mailto:alphamaxsoftwares@gmail.com">Email</a> or <a href="tel:+254727637947">Call</a> the owner</p>
    </div>
</body>
</html>